/* ********** Custom Properties ********** */
:root {
  --color-introBg: hsl(217, 28%, 15%);
  --color-mainBg: hsl(218, 28%, 13%);
  --color-footerBg: hsl(216, 53%, 9%);
  --color-testimonialBg: hsl(219, 30%, 18%);
  --color-cta-primary: hsl(176, 68%, 64%);
  --color-cta-secondary: hsl(198, 60%, 50%);
  --color-cta-error: hsl(0, 100%, 63%);
  --color-white: #fff;
  --font-title: "Raleway", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --wrapper-small: 1.5625rem clamp(1.25rem, 4.4vw, 3rem) 6.25rem;
  --wrapper-big: 4.5625rem clamp(1.25rem, 4.4vw, 3rem) 5.4375rem;
  --max-width: 1250px;
}

/* ********** Reset ********** */
html {
  font-family: var(--font-body);
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--color-white);
}

a {
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.5s ease-out;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
}

/* ********** Utilities ********** */
.container {
  padding: var(--wrapper-small);
}

.main-bg {
  background-color: var(--color-mainBg);
}

.auto {
  margin: 0 auto;
}

/* Section header */
header {
  background-color: var(--color-introBg);
}

.nav-container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
  grid-gap: 20px;
  align-items: center;
}

.nav-container a {
  font-size: clamp(0.875rem, 1.2vw, 1.5rem);
  text-decoration: none;
}

.nav-container a:hover {
  text-decoration: underline;
}

.nav-img {
  width: 83px;
}
/* End of section */

/* Section hero */
.hero {
  position: relative;
  background-color: var(--color-introBg);
}

.hero:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 40vw;
  bottom: 0px;
  background-image: url(images/bg-curvy-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-container > * {
  position: relative;
  z-index: 1;
}

.hero-img {
  width: 100%;
  max-width: 716px;
}

.hero-container h1 {
  font-family: var(--font-title);
  font-size: clamp(1.5rem, calc(1.5rem + 1vw), 2.625rem);
  max-width: 700px;
  line-height: 1.5;
  margin: 1.5rem 0;
}

.hero-container p {
  max-width: 585px;
  font-size: clamp(0.77rem, calc(0.77rem + 1vw), 1.2rem);
  margin-bottom: 1.5rem;
}

.hero-container .btn {
  padding: 15px 20px;
  max-width: 273.2px;
  width: 100%;
  color: var(--color-white);
  border: none;
  background-image: linear-gradient(
    to right,
    var(--color-cta-primary),
    var(--color-cta-secondary)
  );
  font-size: 0.95rem;
  font-weight: 700;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
}

.hero-container .btn:hover {
  background: linear-gradient(
    to right,
    var(--color-cta-secondary),
    var(--color-cta-primary)
  );
}
/* End of section */

/* Section features */
.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10vw 10vw;
  max-width: 950px;
}

.feature {
  text-align: center;
}

.feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 80px;
}

.feature-img img {
  height: 100%;
}

.feature h3 {
  font-family: var(--font-title);
  font-weight: 700;
  margin-bottom: 16px;
}

.feature p {
  font-size: 1rem;
}
/* End of section */

/* Section productive */
.productive {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  align-items: center;
  max-width: 700px;
}

.productive-text {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.productive-text h2 {
  font-size: clamp(1.25rem, calc(1.25rem + 1vw), 2.625rem);
}

.productive-text a {
  background-image: url(/images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  width: fit-content;
  padding-right: 25px;
  color: var(--color-cta-primary);
  border-bottom: 1px solid var(--color-cta-primary);
}

.productive-text a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
/* End of section */

/* Section quotes */
.quotes {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  max-width: 500px;
  padding-bottom: 200px;
}

.quotes::before {
  content: url(/images/bg-quotes.png);
  transform: scale(0.7);
  position: absolute;
  z-index: 0;
  top: -5px;
  left: 20px;
  width: 27px;
  height: 18px;
}

.quote {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  background-color: var(--color-testimonialBg);
  padding: 30px 24px 24px 24px;
  border-radius: 5px;
}

.quote:first-child {
  z-index: 1;
}

.quote p {
  font-size: 0.9375rem;
}

.quote h4 {
  font-size: 0.875rem;
}

.quote-autor {
  display: flex;
  align-items: center;
}

.quote-img {
  padding-right: 20px;
  width: 60px;
}

.quote-img img {
  border-radius: 50%;
}
/* End of section */

/* Section signup */
.signup {
  position: absolute; 
  background-color: transparent;
  width: 100%;
  transform: translateY(-248px);
}

.signup .container {
  max-width: 920px;
}

.signup-block {
  border-radius: 10px;
  background-color: var(--color-introBg);
  box-shadow: 0px 12px 20px rgb(0 0 0 / 20%);
  padding: 45px 30px 45px 30px;
  text-align: center;
}
/* End of section */

/* Section footer */
.footer {
  background-color: var(--color-footerBg);
  padding-top: 200px;
}

.footer-container {
  display: grid;
  row-gap: 3rem
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 3rem;
}

.footer-social svg {
  width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 8px;
    fill: #ffffff;
    margin-right: 16px;
}

@media screen and (min-width: 699px) {
  .hero:after {
    background-image: url(images/bg-curvy-desktop.svg);
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 999px) {
  .container {
    padding: var(--wrapper-big);
  }

  .nav-container {
    grid-gap: 56px;
  }

  .nav-img {
    width: 185px;
  }

  .features {
    gap: 7vw 7vw;
  }

  .productive {
    grid-template-columns: repeat(2, 1fr);
    max-width: var(--max-width);
  }

  .productive-text h2 {
    max-width: 400px;
  }

  .quotes {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: var(--max-width);
  }

  .quotes::before {
    transform: none;
    top: 37px;
    left: 50px;
    width: 60px;
    height: 45px;
  }
}
